*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}

#menu{
    height: 80px;
   padding: 0  20px;
}
#logo{
    font-size:  30px;
    line-height: 80px;
    color:mediumblue;
    float:left;

}
nav{
    float: right;
    line-height: 80px;
}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color:darkgray;
}
nav a:hover{
    border-bottom: 2px solid;
}

nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color:#2305a8;
    
}
.ikon{
    margin-right: 7px;
    font-size: 16px;
}
#anasayfa{
    
height: 600px;
background-image: url("../İMAGE/resjpeg.webp");
background-size: cover;
background-position: center;
background-attachment: fixed;
}
#black{
    height: 600px;
    background-color: black;
    opacity: 0.5;
}
#icerik{
    position: absolute;
    top:50%;
    left:40%;
    transform: translate(-50%,-50%);
    color:whitesmoke;
    font-size: 20px;
}
#hakkimizda{
    background-color: whitesmoke;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}
h3{
    font-size: 55px;
    color:rgb(9, 8, 10);
    
}
.container{
    width: 1200px;
    height: auto;
    margin: auto;
}
#sol{
    float: left;
    border-right: 3px solid;
    font-size: 30px;
    width:400px;
    color: black;
}
#h5sol{
    line-height: 1.6;
    font-size: 25px;
    font-weight: 600;
}
#h5sol, #sag{
    margin: 0;
    padding: 0;
    margin-top: 20px;

}
span{
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: black;
    font-weight: 600;
    float: left;
}
#sag{
    float: right;
    width: 750px;
    color:#999999;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;
}
.İMAGE-fluid{
    max-width: 100%;
    height: auto;
}
.mt100{
    margin-top: 100px;

}
#pson{
    color: black;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    margin-top: 30px;
    font-weight: 100;
}
#icerikler{
    background-color: #fff;
    padding: 50px;
    text-align:center ;
    height: 700px;
}
.card{
    width: 320px;
    height: 350px;
    border:1px solid #ddd;
    padding: 0;
    display: inline-block;
}
.baslikcard{
    font-size: 15px;
    color: black;
}
.cardp{
    color: #888;
}
.card:hover{
    border: 2px solid gray;
}
#iletisim{
    background:rgb(247, 242, 242);
    padding: 50px;
    height: auto;
    text-align: center;
}
#h3iletisim{
    color: black;

}


